@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
    url('SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
    url('SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
    url('SFUIDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
    url('SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
